*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.title_for_dark{
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
    background: #015813;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 65%;
}
.title_for_light{
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
    background: #0d1e74;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 65%;
}
.dark{
    margin-left: auto;
    margin-right: 100px;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 18px;
    text-align: center;
    background: #252525;
    color: #fff;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px;
    width: 20%;
    user-select: none;
}
.light{
    margin-left: auto;
    margin-right: 100px;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 18px;
    text-align: center;
    background: #eee;
    color: #000;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px;
    width: 20%;
    user-select: none;
}
.listtext_for_dark{
    background: #0d1e74;
}
.inledning_for_dark{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 18px;
    text-align: center;
    background: #252525;
    color: #fff;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px;
    width: 90%;
}
.inledning_for_light{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 18px;
    text-align: center;
    background: #eee;
    color: #000;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px;
    width: 90%;
}
.header_for_dark{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #015813;
    margin: 1rem 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #fff;
}
.header_for_light{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #0d1e74;
    margin: 1rem 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #fff;
}
.mistakes_for_dark{
    margin-left: auto;
    margin-right: auto;
    background: #252525;
    color: #fff;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 18px;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px;
    width: 80%;
}
.mistakes_for_light{
    margin-left: auto;
    margin-right: auto;
    background: #eee;
    color: #000;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 18px;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px;
    width: 80%;
}
.punktLista_for_dark{
    margin: 1.5rem;
    padding: 1rem;
    padding-bottom: 0.75rem;
    border-radius: 0.5rem;
    width: 45%;
    background: #015813;
    color: #fff;
}
.punktLista_for_light{
    margin: 1.5rem;
    padding: 1rem;
    padding-bottom: 0.75rem;
    border-radius: 0.5rem;
    width: 45%;
    background: #0d1e74; 
    color: #fff;
}
ul{
    margin-left: 1.5rem;
}
.clr_for_bg_dark{
    background: #000;
}
.text_for_light{
    display:grid;
    color: #000;
    background: #eee;
}
.clr_for_bg_light{
    background: #fff;
}
.miss{
    content:'';
}

.darklink{
    color: green;
}
.lightlink{
    color:#0d1e74;
}